[submodule "src/franka_ros2"]
	path = src/franka_ros2
	url = https://github.com/frankaemika/franka_ros2.git
[submodule "src/libfranka"]
	path = src/libfranka
	url = https://github.com/frankarobotics/libfranka.git
